<mat-form-field>
  <mat-label> Kant </mat-label>
  <input matInput type="number" name="kant" [(ngModel)]="kant" />
</mat-form-field>

<mat-form-field>
  <mat-label> Hibur </mat-label>
  <input matInput type="number" name="hibur" [(ngModel)]="hibur" />
</mat-form-field>

<mat-form-field>
  <mat-label> Kipul </mat-label>
  <input matInput type="number" name="kipul" [(ngModel)]="kipul" />
</mat-form-field>

<mat-form-field>
  <mat-label> Hebel</mat-label>
  <input matInput type="number" name="hebel" [(ngModel)]="hebel" />
</mat-form-field>

<button mat-raised-button color="primary" (click)="updateTfira()"> update </button>
