.main-data{
  width: 100%;
}

app-input {
  width: calc(100%/3);
  background-color: bisque;
  margin: 0.2rem;
  padding: 0.2rem;
}
.main-data > div {
  display: flex;
  flex-direction: row;
  width: 100%;
    background-color: lightblue;
    height: calc(96vh/7);
}
