<form>
  <mat-form-field>
    <mat-label>Seam</mat-label>
    <input matInput type="number" name="seam" [(ngModel)]="sewing.seam" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Top Hem</mat-label>
    <input matInput type="number" name="topHem" [(ngModel)]="sewing.topHem" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Botton Hem</mat-label>
    <input matInput type="number" name="bottomHem" [(ngModel)]="sewing.bottomHem" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Left Hem</mat-label>
    <input matInput type="number" name="leftHem" [(ngModel)]="sewing.leftHem" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Right Hem</mat-label>
    <input matInput type="number" name="rightHem" [(ngModel)]="sewing.rightHem" />
  </mat-form-field>

  <button type="button" (click)="changeSewing()"> change </button>
</form>
